body {
    background-color: #222;
    color: gray;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    color: white;
}

.dash-graph {
    background-color: gray;
    border-radius: 5px;
    padding: 10px;
}

